/* CSS for tutorial-client */

#content {
  margin-top: 30px;
}

.counter-row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.counter-label {
  font-size: 30px;
  font-weight: bold;
  color: #888;
}

.counter {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
}

.stat-label {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-top: 10px;
}

.stat {
  font-size: 16px;
  font-weight: bold;
}

.message {
  font-size: 60px;
  font-weight: bold;
  margin-top: 50px;
}
